<!DOCTYPE html>
<html lang="en">
<head>
    {{> metatags-import}}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    {{> share-styles}}

    <link rel="stylesheet" href="/css/default-{{version}}.min.css">
</head>
<body>
{{> header}}
<div class="container no-select" id="navegacao">
    <ol class="breadcrumb">
        <li><a href="/">Placar</a></li>
        <li class="active">Partidos</li>
    </ol>
</div>
{{> share}}

<div class="container-fluid" id="lista-favor-indeciso-contra">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="page-title">Lista de Partidos</h3>
        </div>
        <div class="panel-body container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="glyphicon glyphicon-minus"></i>Impunidade&nbsp;
                                <i class="fa fa-thumbs-up"></i> Maioria quer menos privilêgios
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                {{#favor}}

                                <div class="panel panel-green panel-default">
                                    <div class="panel-heading text-dots">{{party}}</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="partido votacao favor">
                                                    <h1>{{totalFavor}}<i class="fa fa-thumbs-up"></i></h1>
                                                    <h2><i class="glyphicon glyphicon-minus"></i> Impunidade</h2>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="partido votacao">
                                                    <h1>{{totalUnd}}<i class="fa fa-thumbs-down"></i></h1>
                                                    <h2>Ignoram</h2>
                                                </div>

                                            </div>
                                            <div class="col-xs-4">
                                                <div class="partido votacao contra">
                                                    <h1>{{totalAgainst}}<i class="fa fa-thumbs-down"></i></h1>
                                                    <h2><i class="glyphicon glyphicon-plus"></i> Impunidade</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/favor}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-purple">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="glyphicon glyphicon-plus"></i>Impunidade&nbsp;
                                <i class="fa fa-thumbs-down"></i> Maioria Ignora a Impunidade Politica
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                {{#undecided}}
                                <div class="panel panel-purple panel-default">
                                    <div class="panel-heading text-dots">{{party}}</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="partido votacao favor">
                                                    <h1>{{totalFavor}}<i class="fa fa-thumbs-up"></i></h1>
                                                    <h2><i class="glyphicon glyphicon-minus"></i> Impunidade</h2>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="partido votacao">
                                                    <h1>{{totalUnd}}<i class="fa fa-thumbs-down"></i></h1>
                                                    <h2>Ignoram</h2>
                                                </div>

                                            </div>
                                            <div class="col-xs-4">
                                                <div class="partido votacao contra">
                                                    <h1>{{totalAgainst}}<i class="fa fa-thumbs-down"></i></h1>
                                                    <h2><i class="glyphicon glyphicon-plus"></i> Impunidade</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/undecided}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-gray">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="glyphicon glyphicon-plus"></i>Impunidade&nbsp;
                                <i class="fa fa-thumbs-down"></i> Maioria quer mais privilêgios
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                {{#against}}
                                <div class="panel panel-gray panel-default">
                                    <div class="panel-heading text-dots">{{party}}</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <div class="partido votacao favor">
                                                    <h1>{{totalFavor}}<i class="fa fa-thumbs-up"></i></h1>
                                                    <h2><i class="glyphicon glyphicon-minus"></i> Impunidade</h2>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="partido votacao">
                                                    <h1>{{totalUnd}}<i class="fa fa-thumbs-down"></i></h1>
                                                    <h2>Ignoram</h2>
                                                </div>

                                            </div>
                                            <div class="col-xs-4">
                                                <div class="partido votacao contra">
                                                    <h1>{{totalAgainst}}<i class="fa fa-thumbs-down"></i></h1>
                                                    <h2><i class="glyphicon glyphicon-plus"></i> Impunidade</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/against}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer}}
</body>
</html>