<!DOCTYPE html>
<html lang="en">
<head>
    {{> metatags-import}}

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    {{> share-import}}

    <link rel="stylesheet" href="/css/default-{{version}}.min.css">
</head>
<body>
{{> header}}
<div class="container-fluid no-select" id="navegacao">
    <ol class="breadcrumb">
        <li><a href="/">Placar</a></li>
    </ol>
</div>
{{> share}}
<div class="container">
    <div class="row">
        <blockquote>
            <p>Art. 5º Todos são iguais perante a lei, sem distinção de qualquer natureza, garantindo-se aos brasileiros e aos estrangeiros residentes no País a inviolabilidade do direito à vida, à liberdade, à igualdade, à segurança e à propriedade.</p>
        </blockquote>
    </div>
</div>
<div class="container-fluid no-select" id="graficos">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                <div id="donuts" class="select-chart active">
                    <div class="row placeholders">
                        <div class="panel panel-{{#if senateFavor}}primary{{else}}gray{{/if}}" style="border: 0;text-align: center;">
                            <div class="panel-heading">
                                {{#if senateFavor}}
                                <h3 class="panel-title">
                                    <i class="glyphicon glyphicon-minus"></i>Impunidade&nbsp;
                                    <i class="fa fa-thumbs-up"></i> Maioria do Senado quer menos privilêgios
                                </h3>
                                {{else}}
                                <h3 class="panel-title">
                                    <i class="glyphicon glyphicon-plus"></i>Impunidade&nbsp;
                                    <i class="fa fa-thumbs-down"></i> Maioria do Senado quer mais privilêgios
                                </h3>
                                {{/if}}
                            </div>
                            <div id="chart-senado" class="chart-donut" style="margin-top: 5px;">
                                <div id="graficoSenado"></div>
                            </div>
                        </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.1/raphael.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script>
var colors = [
    '#3D9561',
    '#512886',
    '#606060'
];
function getData(arr) {
    return [
        {label: "- Impunidade", value: arr[0]},
        {label: "Ignoram a Impunidade", value: arr[1]},
        {label: "+ Impunidade", value: arr[2]}
    ];
}
Morris.Donut({
    element: 'graficoSenado',
    data: getData([{{senate.favor.length}},{{senate.undecided.length}},{{senate.against.length}}]),
    colors: colors,
    formatter: function (x) { return x + " senadores"}
});
</script>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="legenda">
                                <i class="fa fa-circle green"></i> Querem Menos Impunidade ({{senate.favor.length}})
                                <i class="fa fa-circle purple"></i> Ignoram a Impunidade ({{senate.undecided.length}})
                                <i class="fa fa-circle gray"></i> Querem Mais Impunidade ({{senate.against.length}})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="btn btn-block btn-{{presidentClass}} btn-margin" rel="nofollow" href="/{{president.dir}}/{{president.fileName}}.html">
                    <i class="fa fa-thumbs-down"></i> Presidente Interino: {{president.shortName}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="lista-favor-indeciso-contra">
    <div class="panel panel-default {{parlamentClass}}">
        <div class="panel-heading">
            <h3 class="page-title">Lista de Senadores</h3>
            <select id="listFilter" class="form-control">
                <option value="">Todos - Senadores</option>
                <option value=":has(.fa-user-secret)">Senadores Réus</option>
            </select>
        </div>
        <div class="panel-body container">
            <div class="row">
                <blockquote><div class="legenda">
                    <i class="fa fa-user-secret"></i><i>&nbsp;São réus em uma ou mais ações na Justiça.</i><br/>
                    <i class="fa fa-pencil-square-o"></i><i>&nbsp;Membro da Comssião para analisar as pautas sobre o Foro Privilegiado.</i>
                </div></blockquote>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a class="btn btn-block btn-green btn-margin" rel="nofollow" href="mailto:?bcc={{senate.favorEmails}}" target="_blank"><i class="fa fa-envelope"></i> Fale com os favoráveis</a>

                    <div class="panel panel-green lista-deputados favor">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-thumbs-up"></i> Querem <i class="glyphicon glyphicon-minus"></i> Impunidade</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                {{#senate.favor}}
                                {{> item-list}}
                                {{/senate.favor}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <a class="btn btn-block btn-purple btn-margin" rel="nofollow" href="mailto:?bcc={{senate.undecidedEmails}}" target="_blank"><i class="fa fa-envelope"></i> Fale com os indecisos</a>

                    <div class="panel panel-purple lista-deputados">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-thumbs-down"></i> Ignoram a Impunidade</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                {{#senate.undecided}}
                                {{> item-list}}
                                {{/senate.undecided}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <a class="btn btn-block btn-gray btn-margin" rel="nofollow" href="mailto:?bcc={{senate.againstEmails}}" target="_blank"><i class="fa fa-envelope"></i> Fale com os contrários</a>

                    <div class="panel panel-gray lista-deputados contra">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-thumbs-down"></i> Querem <i class="glyphicon glyphicon-plus"></i> Impunidade</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                {{#senate.against}}
                                {{> item-list}}
                                {{/senate.against}}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<script>
$(function () {
    $('.btn').on('click', function() {
        ga && ga('send', 'event', 'mail', window.location.pathname, $(this).text().trim());
    });
    $('#listFilter').change(function() {
        var val = $(this).val();
        $('li', 'ul.list-unstyled').hide();
        $('li'+val, 'ul.list-unstyled').show();
    });
});
</script>
</div>
{{> footer}}
</body>
</html>