<div class="pane panel-default">
    <div class="panel-body">
        {{#if city}}
        <p>O Movimento Brasil Livre – {{city}} (MBL-{{state}}) criou este Placar da Mobilidade para que juntos possamos pressionar os deputados da cidade a atuarem em prol do uso da tecnologia como ferramenta de melhoria da mobilidade urbana.</p>
        {{else}}
        <p>O Movimento Brasil Livre criou este Placar da Mobilidade para que juntos possamos pressionar os deputados da cidade a atuarem em prol do uso da tecnologia como ferramenta de melhoria da mobilidade urbana.</p>
        {{/if}}
        <p>Queremos a aprovação do projeto de lei que regulamenta o compartilhamento de veículos por meio de aplicativos, tais como o Uber, BlaBlaCar e Cabify.</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Placar da Mobilidade</h3>
    </div>
    <div class="panel-body">
        {{#if city}}
        <p>Os deputados de {{city}} votarão o projeto de lei que regulamenta o novo segmento de mobilidade urbana que surgiu em nosso país nos últimos tempos. Esse segmento tem como principal expoente o já famoso Uber, empresa já bem estabelecida, que oferece corridas realizadas por um motorista em carro particular.</p>
        {{else}}
        <p>Os deputados votarão o projeto de lei que regulamenta o novo segmento de mobilidade urbana que surgiu em nosso país nos últimos tempos. Esse segmento tem como principal expoente o já famoso Uber, empresa já bem estabelecida, que oferece corridas realizadas por um motorista em carro particular.</p>
        {{/if}}
        <p>Apesar de o modelo citado ser o mais conhecido, existem outros que também facilitam e popularizam a mobilidade urbana: a carona solidária, o compartilhamento de corridas individuais, e até mesmo os automóveis sem condutor. Essas modalidades são praticadas internacionalmente por outras empresas como Waze, BlaBlaCar, Lyft e Willgo.</p>
        <p>Toda nova tecnologia vem acompanhada de receios e dúvidas, não poderia ser diferente com uma área que subverte o <em>status quo,</em> e muda o modo pelo qual o cidadão se locomove na cidade. Com o objetivo de conscientizar a população da importância de trazer liberdade para o setor, criamos um placar para acompanhar como nossos representantes votarão a proposta.</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Como esse projeto influencia na sua vida?</h3>
    </div>
    <div class="panel-body">
        {{#if city}}
        <p>O projeto tem como principal objetivo trazer mais liberdade e diferentes possibilidades para a mobilidade urbana. As implicações dele serão imensamente positivas para a população da cidade de {{city}}, com maior concorrência no setor automaticamente os preços cairão e a qualidade subirá, ou seja, mesmo que você não use os novos serviços, os antigos, como os táxis, terão uma melhora notável em sua qualidade.</p>
        {{else}}
        <p>O projeto tem como principal objetivo trazer mais liberdade e diferentes possibilidades para a mobilidade urbana. As implicações dele serão imensamente positivas para a população da cidade, com maior concorrência no setor automaticamente os preços cairão e a qualidade subirá, ou seja, mesmo que você não use os novos serviços, os antigos, como os táxis, terão uma melhora notável em sua qualidade.</p>
        {{/if}}
        <p>Outro benefício crucial do projeto, é o incentivo para uma guinada em direção à economia de compartilhamento, e com ela uma maior racionalização de recursos e consequentemente uma sociedade mais sustentável. Essa racionalização de recursos é justamente sobre diminuir a quantidade de carros na rua e aumentar a quantidade de pessoas por carro, melhorando o caótico trânsito de nossa cidade e trazendo benefícios para toda a sociedade.<br>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">O projeto acabará com os táxis?</h3>
    </div>
    <div class="panel-body">
        <p>Não, muitas cidades do mundo adotam legislações parecidas e continuam tendo grandes frotas de táxis, um grande exemplo disso é Nova York. O projeto tende a melhorar a qualidade deles por causa do aumento da concorrência. Os únicos prejudicados são os cartéis que detém as licenças e fazem fortunas mantendo o mercado fechado e prejudicando os consumidores.</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Quem garantirá a segurança e qualidade do serviço?</h3>
    </div>
    <div class="panel-body">
        <p>As próprias empresas têm mecanismos que garantem tanto a segurança do consumidor quanto a qualidade do serviço. Esse mecanismo passa por avaliações feitas pelos próprios consumidores sobre o serviço prestado. Os motoristas da empresa, caso não alcancem um determinado patamar de qualidade, automaticamente perdem sua licença para prestar o serviço. Além disso, com o novo projeto, o próprio município terá acesso aos nomes dos motoristas, aumentando ainda mais a segurança.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Os aplicativos de transporte são piratas ou ilegais?</h3>
    </div>
    <div class="panel-body">
        <p>Os tribunais, paulistas e cariocas, já concederam liminares favoráveis ao funcionamento do Uber. As duas decisões estão calçadas na lei federal 12.587/2012, que institui as diretrizes da Política Nacional de Mobilidade Urbana, e não discorre sobre os novos modos de locomoção urbanos. Justamente por não citar esses modelos, eles acabam caindo em um limbo não regulado, portanto não podem ser enquadrados e proibidos.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">A mudança passa por você.</h3>
    </div>
    <div class="panel-body">
        <p>Como já vimos, a aprovação do projeto é importante não só para os usuários do serviço, como para toda a sociedade e até mesmo para o meio ambiente, a aprovação dele passa necessariamente pela pressão exercida por você em cada um dos deputados eleitos. Já provamos no caso do impeachment que a pressão popular é o melhor modo para alcançarmos a tão sonhada liberdade, faça sua parte!</p>
    </div>
</div>