<div class="pane panel-default">
    <div class="panel-body">
        <p>O Movimento Brasil Livre (MBL) criou este Site informar ser usado pela população brasileira como um instrumento de informação que as vezes não são tão obvios. Alguns dados são chocantes, mas essa é a nossa realidade na politica nacional.</p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Fim do Foro Privilegiado</h3>
    </div>
    <div class="panel-body">
        <p>O <strong>foro especial por prerrogativa de função</strong> (<strong>foro privilegiado</strong>) é uma maneira muito bonita de dizer que os "nossos politicos" não podem ser julgados como cidadões comuns, ou <strong>não são iguais a nós perante a lei</strong>.</p>
        <p>Esse privilêgio, é herdado da época da monarquia e não tem fins democraticos, muito pelo contrário, ele gera uma completa ineficiência nos julgamentos devido ao número de ações contra a nossa sublime classe politica.</p>
    </div>
</div>