<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" id="navToggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/images/logo-site-32-{{version}}.png" width="30" height="30" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <!--<li class="dropdown">-->
                    <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle">Estados <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/sc">SC</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li><a href="/partidos/index.html"><i class="glyphicon glyphicon-adjust" ></i> Partidos</a></li>
                <li><a href="/como-funciona.html"><i class="glyphicon glyphicon-phone" ></i> Como Funciona?</a></li>
                <li><a href="/achou-erro.html"><i class="glyphicon glyphicon-pushpin" ></i> Achou um erro?</a></li>
            </ul>
        </div>
    </div>
</nav>
<script>
$('#navToggle').click(function() {
    var navbar = $("#navbar");
    navbar.hasClass('in') ? navbar.removeClass('in') : navbar.addClass('in');
});
</script>
<section class="page-title-wrap page-title-wrap-bg" style="background-image: url(/images/banner-{{version}}.jpg);height:150px;">
    <div class="page-title-overlay"></div>
    <div class="container">
        <div class="page-title-inner block-center">
            <div class="block-center-inner">
                <h1>Fim do Foro Privilegiado!</h1>
            </div>
        </div>
    </div>
</section>
<br/>